
body {
    padding: 1em;
}

.hidden-scroll {
    overflow: overlay;
}
.hidden-scroll::-webkit-scrollbar {
    display: none;
}


.stack-title {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 0.5em;
}

.show-list-inner {
    display: flex;
    gap: 0.8em;
    overflow: auto;
    margin: 0 -1em;
    padding-right: 1em;
    padding-left: 1em;
}

.show-list-inner::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.show-title {
    font-size: 14px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 8px;
}


.add-show {
    width: 60px;
    height: 60px;
    position: fixed;
    background: #f44336;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24Px;
    color: #fff;
    right: 16px;
    bottom: 16Px;
    box-shadow: 0 4px 5px #2222223b;
    cursor: pointer;
}


.global-poster {
    padding-top: 143.33333333%;
    position: relative;
    overflow: hidden;
    display: block;
    height: auto;
    outline: none;
    background-color: #ececec;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%23b4b4b4' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");;
}

.global-poster img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.show-list-inner .show-card, .show-list-inner .show-card > .poster {
    width: 150px;
}


.stack .poster:empty {
    background: #dfdfdf;
    border-radius: 3px;
}



/* Fragments */
#fragments {
    position: relative;
    z-index: 1110;
}

#fragment-dim {
    background: #000000b3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}

#fragments > .fragment {
    min-height: 100vh;
    width: 600px;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 10px #5a5a5a;
    display: none;
}

#fragments > .fragment:last-child {
    display: block;
}

.fragment-view {
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: none;
    background: white;
}

.fragment-view:last-child {
    display: block;
}


.stacks-in-card {
    width: 180px;
}

.stacks-in-card .poster {
    width: 180px;
    padding: 258px 0 0;
}

.stacks-in {
    display: flex;
    gap: 1em;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.stack-in-card-title {
    font-size: 14px;
    margin: 0.5rem 0;
    font-weight: 600;
}

.show-relation-badge {
    font-size: .75em;
    background: #198754;
    color: #fff;
    border-radius: 3px;
    padding: 0.2em 0.5em;
}

#show-info h2.title {
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.tooltip {
    --bs-tooltip-zindex: 999999;
}


nav.indigo600 {
    background: #520dc2 !important;
}
.indigo600 .btn, .indigo600 .navbar-text {
    color: #fff !important;
}

nav.red500 {
    background: #dc3545 !important;
}
.red500 .btn, .red500 .navbar-text {
    color: #fff !important;
}


/* this one should only select the titles that are in the  show interface */
#show-interface h2.title, #season-interface h2.title {
    color: #b02a37;
    font-weight: 700;
    font-size: 14px !important;
    margin-bottom: 0.75em;
    margin-top: 1.5em;
}
#season-interface h2.title {
    color: #520dc2;
}

#show-interface p.summary {
    font-size: 15px;
}




.rating {
    /* font-size: 20px; */
}
.user-prefs-main .col {
    flex-direction: column;
    align-items: center;
    display: flex;
}
.user-prefs-main .separator {
    width: 1px;
    background: #dee2e6;
    height: 30px;
}
.user-prefs-main .icon {
    font-size: 20px !important;
    height: 24px;
    width: 24px;
    line-height: 24px;
}
.user-prefs-main .icon-helper {
    font-size: 14px;
    margin-top: 0.5rem;
    color: #495057;
}


.user-prefs-main .icon.not-classified:before {
    content: "\3f";
    font-weight: 600;
    color: #6c757d;
}


.user-prefs-main .icon.watching:before {
    content: "\f819";
    font-weight: 600;
    color: #146c43;
}
.user-prefs-main .icon.on-hold:before {
    content: "\f04c";
    font-weight: 600;
    color: #ca6510;
}
.user-prefs-main .icon.plan-to-watch:before {
    content: "\f251";
    font-weight: 600;
    color: #6610f2;
}
.user-prefs-main .icon.pending:before {
    content: "\f736";
    font-weight: 600;
    color: #cc9a06;
}
.user-prefs-main .icon.completed:before {
    content: "\f560";
    font-weight: 600;
    color: #1aa179;
}
.user-prefs-main .icon.dropped:before {
    content: "\e59b";
    font-weight: 600;
    color: #b02a37;
}

/* done coloring */
.user-prefs-main .icon.upcoming:before {
    content: "\f073";
    font-weight: 600;
    color: #0a58ca;
}
.user-prefs-main .icon.ongoing:before {
    content: "\e132";
    font-weight: 600;
    color: #13795b;
}
.user-prefs-main .icon.ended:before {
    content: "\f274";
    font-weight: 600;
    color: #495057;
}
.user-prefs-main .icon.canceled:before {
    content: "\e179";
    font-weight: 600;
    color: #b02a37;
}

.user-prefs-main .icon.active-star {
    font-weight: 600;
    color: #ffbc00;
}

.season-position {
    color: #6c757d;
    display: block;
    margin-top: 0.25rem;
}

#show-interface {
    position: relative;
}
#show-interface .cover {
    width: 100%;
    padding-top: 50%;
    overflow: hidden;
    display: block;
    height: auto;
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, #f8d7da, #0000);
}
#show-interface .poster {
    position: relative;
    z-index: 9;
}

.ribbon {
    position: absolute;
    z-index: 10;
    text-align: center;
    inset: 0 auto auto 0;
    background: #b02a37;
    transform-origin: 100% 0;
    transform: translate(-29.3%) rotate(-45deg);
    box-shadow: 0 0 0 24px #b02a37;
    clip-path: inset(-30% -100%);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px;
    text-shadow: 0 1px black;
}